<div class="price">
    <div class="price__info">
        <div class="price__info__market">
            MARKET
        </div>
        <div class="price__info__price">Price</div>
        <div class="price__info__market-cap">Market Cap</div>
        <div class="price__info__chg">Chg (24h)</div>
    </div>
    <div class="price__item">
        <price-item
            *ngFor="let item of items; let index = index"
            [rank]="index+1"
            [src]="item.src"
            [name]="item.name"
            [symbol]="item.symbol"
            [price]="item.price"
            [market]="item.market"
            [chg]="item.chg"
        ></price-item>
    </div>
</div>